html, body {
  padding: 0;
  margin: 0;
}

.root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle; //align center vertically child element
}

.root > div {
  margin: auto; //align center horizontally
}

$diameter: 20vh;

.container {
  height: $diameter * 3 + 10vh;
  width: $diameter + 5vh;
  background-color: lightgray;
  border-radius: 5vh;
  border: 2px solid lightslategray;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.light {
  border-radius: 50%;
  width: $diameter;
  height: $diameter;
  margin: auto;
  filter: brightness(0.5);
}

#red {
  background-color: rgb(240, 44, 44);
}

#yellow {
  background-color: rgb(238, 238, 40);
}

#green {
  background-color: rgb(42, 218, 42);
}

#control {
  width: 100px;
  margin-top: 20px;

  button#start {
    height: 50px;
    width: 100px;
    border-radius: 25px;
    background-color: transparent;
    border: solid 2px lightslategray;
    margin: auto;
    cursor: pointer;

    &:hover {
      background-color: #eaeaea;
    }

    &:active {
      transform: translateY(4px);
    }
  }
}